html {
    background: #5f2c82;                                               /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #de6161 , #2657eb); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #de6161 , #2657eb);         /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

ul {
    list-style: none;
    text-decoration: none;
}

p {
    margin: 0;
}

hr {
    margin: 0 0 10px 0;
}

a {
    text-decoration: none !important;
}

img {
    border: none;
}

input::-webkit-input-placeholder {
  color: #333 !important;
}

input:-moz-placeholder { /* Firefox 18- */
  color: #333 !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
  color: #333 !important;
  opacity: 1;
}

input:-ms-input-placeholder {
  color: #333 !important;
  opacity: 1;
}

input:placeholder-shown {
  border: 1px solid #59B2E6 !important;
}

.input-group-addon {
    background-color: transparent;
    color: #333;
}

.centerall {
    display: flex;
    height: 100vh;
    float: none;
    margin: 0 auto;
    flex-flow: column wrap;
    justify-content: center;
}

.alert-login {
    display: none;
}

.alert-login p {
    display: inline-block;
    padding-left: 8px;
}

/*HEADER*/
.header {
    background-color: #333;
}

.header p {
    color: #fff
}

/*WEATHER*/

/*CONDITIONS*/
.weather {
    position: relative;
    width: 100%;
    height: 450px;
}

.weather-current {
    width: 100%;
    height: 190px;
    padding: 20px;
}

.weather-current img {
    width: 150px;
    height: 150px;
    float: left;
}

.weather-degree {
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
}

.weather-description {
    font-size: 25px;
    text-align: center;
}

.weather p.location {
    float: right;
    margin-top: 10px;
}

/*FORECAST*/
.weather-forecast {
    margin-top: 30px;
}

.weather-forecast ul {
    width: 100%;
    height: 150px;
    padding: 0;
    margin: 0;
}

.weather-forecast li {
    width: 25%;
    height: 100%;
    float: left;
    text-align: center;
    position: relative;
    background: rgba(244, 244, 244, 0.1);
    border-left: 1px solid rgba(215, 215, 215, 0.2);
}

.weather-forecast li:first-child {
    border-left: 0;
}

.weather-forecast li div:last-child {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.weather-forecast img {
    width: 50px;
    height: 50px;
    margin-top: 3px;
}

.weather-forecast p.cond-text {
    padding-top: 5px;
}

.weather-forecast p.day-title {
    height: 21px;
    line-height: 21px;
    border-bottom: 1px solid rgba(215, 215, 215, 0.2);
}

.weather-forecast p.temps {
    margin: 5px 0 0 0;
    padding: 0;
}

.weather-forecast span.pop {
    font-weight: normal;
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url(../images/weather/sprite-common-vert.png);
    background-repeat: no-repeat;
    background-position: 0 -383px;
    vertical-align: middle;
    position: relative;
    top: -1px;
}

.weather-forecast span.hi {
    color: #f10000;
}

.weather-forecast span.lo {
    color: #004cff;
}

/*EMAIL*/

.email {
    position: relative;
    width: 100%;
    height: 450px;
}

/*TV*/

.tv {
    position: relative;
    width: 100%;
    height: 450px;
}

.tv-list {
    float: left;
    padding: 10px 0 0 0;
    margin: 0 10px 0 0;
}

.tv-list li {
    height: 70px;
    margin: 0 0 5px 0;
    color: #e4ccff;
    background: rgba(244, 244, 244, 0.1);
}

.tv-list li.today {
    margin: 10px 0;
    border: 1px solid black;
}

.tv-list-left {
    width: 70px;
    margin-left: 15px;
}

.tv-list-left li {
    font-size: 20px;
    text-align: center;
    padding: 7px 0 0 0;
    line-height: 25px;
}

.tv-list-left p {
    width: 45px;
    margin: 0 auto;
}

.tv-list-right {
    width: 330px;
}

.tv-list-right p {
    padding-left: 10px;
}

.tv-list-right p:first-child {
    padding-top: 2px;
}

.tvshowlinks {
    float: right;
}

/*MOVIES*/

.movies {
    position: relative;
    width: 100%;
    height: 450px;
}

.movies-container {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.movies-container img {
    display: inline-block;
    width: 210px;
    height: 315px;
}

.movies-container img:first-child {
    margin-right: 10px;
}

.movie {
    display: inline-block;
    width:210px;
    height:315px;
    background: url(../images/dev/210x315.png) no-repeat;
    background-size: cover;
    margin-right: 10px;
}

.movie .movie-overlay {
    position:relative;
    top:0px;
    width:210px;
    height:315px;
    background:#575757;
    opacity:0;
}

.movie:hover .movie-overlay {
    opacity:0.7;
}

/*CENTER*/

.welcome {
    text-align: center;
    font-size: 80px;
    margin-top: 150px;
}

/*LOGIN-FORM*/

.panel-login {   
    width: 100%; 
    background-color: rgba(255, 255, 255, 0.1);
	border-color: rgba(204, 204, 204, 0.8);
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
}

.panel-login>.panel-heading {
	text-align:center;
}

.panel-login>.panel-heading a {
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.panel-login>.panel-heading a.active {
	color: #029f5b;
	font-size: 18px;
}

.panel-login input[type="text"], .panel-login input[type="email"], .panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}

.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}

.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}

.forgot-password {
	text-decoration: underline;
	color: #333;
}

.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline !important;
	color: #222;
}

.btn-signup {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}

.btn-signup:hover,
.btn-signup:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}


/*TESTING*/

.module-settings {
    display: none;
    position: absolute;
    top: 60px;
    bottom: 0;
    background-color: #333;
    border-radius: 2px;
    box-shadow: 1px 1px;
}

.module-settings-left {
    right: 1000px;
    left: -1000px;
}

.module-settings-right {
    right: -1000px;
    left: 1000px;
}

.white {
    color: white;
}

.setting-input {
    width: 75%;
    padding-bottom: 15px;
    margin: 0 auto;
}

.setting-submit {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding-bottom: 20px;
}

form:first-child {
    padding-top: 25px;
}

.tv-settings-primary {
    background-color: white;
    padding: 0;
    margin: 0;
    height: 2em;
    border: 1px solid white;
    line-height: 2em;
}

.tv-settings-primary li {
    background-color: red;
    display: inline-block;
    width: 50%;
    height: 100%;
    text-align: center;
}

.tv-settings-primary li:hover{
    cursor: pointer;
}

.tv-settings-primary li:first-child {
    border-right: 1px solid white;
}

.tv-settings-secondary {
    display: none;
    background-color: white;
    padding: 0;
    margin: 0;
    height: 2em;
    border: 1px solid white;
    border-top: none;
    line-height: 2em;
}

.tv-settings-secondary li {
    background-color: red;
    display: inline-block;
    width: 50%;
    height: 100%;
    text-align: center;
}

.tv-settings-secondary li:hover{
    cursor: pointer;
}

.tv-settings-secondary li:first-child {
    border-right: 1px solid white;
}

.tv-settings-content-showlist {
    background-color: blueviolet;
    max-height: 100%;
    overflow-y: auto;
    list-style-type: disc;
}

.tv-settings-content-showlist li {
    background-color: yellow;
    padding-top: 5px;
}

.tv-settings-content-showlist span {
    font-weight: 800;
    margin-right: 15px;
    line-height: 1em;
}

.tv-settings-content-showlist span:hover {
    cursor: pointer;
}

.active {
    background-color: darkred !important;
}

.active-sub {
    background-color: indianred !important;
}

.fa-cog {
    cursor: pointer;
}

p, input {
    color: white !important;
}

.tv-settings-content {
    height: 100%;
}

.tv-settings-content-subtitles,
.tv-settings-content-downloads {
    display: none;
    position: relative;
    height: 100%;
}

.tv-settings-content-subtitles button,
.tv-settings-content-downloads button {
    position: absolute;
    bottom: 60px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.btn-update {
    width: 200px;
    height: 70px;
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}

.btn-update:hover,
.btn-update:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}

input[type='checkbox'] {
    margin: 0;
    margin-left: 10px;
}

label {
    margin: 0;
    font-weight: 200;
}

.movies-settings-content {
    position: relative;
    height: 100%;
}

.movies-settings-addfilter {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

.movies-settings-filter {
    color: white !important;
}