extends layout/base

block content
    .container-fluid
        .row.full-height
            .col-md-4.col-md-offset-4.col-xs-12.flex-center
                .panel.panel-login
                    .panel-heading
                        .row
                            .col-xs-6
                                a#login-form-link.btn.btn-tabs.active(href='#') Login
                            .col-xs-6
                                a#signup-form-link.btn.btn-tabs(href='#') Signup
                    hr.hr-small
                    .panel-body
                        form#login-form(action='#', role='form')
                            .form-group.input-group
                                span.input-group-addon
                                    i.fa.fa-envelope.fa-fw
                                input.form-control(type='email', name='login-email', tabindex='1', placeholder='Email', value='')
                            .form-group.input-group
                                span.input-group-addon
                                    i.fa.fa-lock.fa-fw
                                input.form-control(type='password', name='login-password', tabindex='2', placeholder='Password')
                            .form-group.text-center
                                input(type='checkbox', tabindex='3', name='remember')
                                label(for='remember')  Remember Me
                            .form-group
                                .row
                                    .col-sm-8.col-sm-offset-2
                                        input.form-control.button.button-primary.btn.btn-submit(type='submit', name='login-submit', tabindex='4', value='Submit')
                            .form-group
                                .row
                                    .col-lg-12
                                        .text-center
                                            a.forgot-password(href='#', tabindex='5') Forgot Password?
                        form#signup-form(action='#', role='form', style='display: none;')
                            .form-group.input-group
                                span.input-group-addon
                                    i.fa.fa-envelope.fa-fw
                                input.form-control(type='email', name='signup-email', tabindex='1', placeholder='Email Address', value='')
                            .form-group.input-group
                                span.input-group-addon
                                    i.fa.fa-lock.fa-fw
                                input.form-control(type='password', name='signup-password', tabindex='2', placeholder='Password')
                            .form-group.input-group
                                span.input-group-addon
                                    i.fa.fa-lock.fa-fw
                                input.form-control(type='password', name='confirm-password', tabindex='2', placeholder='Confirm Password')
                            .form-group
                                .row
                                    .col-sm-6.col-sm-offset-3
                                        input.form-control.button.button-primary.button-xlg.button-login(type='submit', name='signup-submit', tabindex='4', value='Submit')
                .alert.alert-danger.alert-login(role="alert")
                    span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
                    span.sr-only Error:

