block weather
    .weather
        h2
            i.fa.fa-sun-o
            |  Weather
        hr
        .weather-current
            img(src='./images/dev/150x150.png')
            .p.weather-degree
            .p.weather-description
        .weather-forecast
            ul
                li(data-day='0')
                    p.day-title= weather.days[0]
                    p.temps
                        span.hi
                        span |
                        span.lo
                    img(src='./images/dev/50x50.png')
                    p.cond-text
                    div
                        span.pop
                        span
                li(data-day='1')
                    p.day-title= weather.days[1]
                    p.temps
                        span.hi
                        span |
                        span.lo
                    img(src='./images/dev/50x50.png')
                    p.cond-text
                    div
                        span.pop
                        span
                li(data-day='2')
                    p.day-title= weather.days[2]
                    p.temps
                        span.hi
                        span |
                        span.lo
                    img(src='./images/dev/50x50.png')
                    p.cond-text
                    div
                        span.pop
                        span
                li(data-day='3')
                    p.day-title= weather.days[3]
                    p.temps
                        span.hi
                        span |
                        span.lo
                    img(src='./images/dev/50x50.png')
                    p.cond-text
                    div
                        span.pop
                        span
        p.location
