doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description', content='kid guard')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title= title || 'Dashboard'
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
        //- link(rel='stylesheet', href='./css/jquery-ui.min.css')
        link(rel='stylesheet', href='./css/styles.css')
        link(rel='stylesheet', href='./css/main.css')
    body
        block content
    script(src='https://code.jquery.com/jquery-2.2.4.min.js', integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
    script(src='https://use.fontawesome.com/e624a4110b.js')
    script(src='./js/countries.js')
    script(src='./js/language.js')
    script(src='./js/js.cookie.js')
    script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDRxA2mOlP8Pq1eDh-9UABfJoK1FNxb71w')
    script(src='./js/app.js')
    block scripts